.b-1, .b-7 {
	background-color: rgb(7, 48, 84);
}
.b-1 .b-block, .b-7 .b-block {
	padding-top: 29px;
}
.b-1 h1, .b-7 h2 {
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 1.2;
	font-size: 31px;
	margin-top: 20px;
	text-align: left;
}
.b-1 h1 span, .b-7 h2 span {
	color: #74b3ea;
}
.b-1 img, .b-7 img {
	display: block;
	max-width: 100%;
	margin-right: 16px;
}
.b-1 .price-p, .b-7 .price-p {
	display: block;
	font-size: 27px;
	color: rgb(116, 179, 234);
	line-height: 1.2;
	font-family: "PFDinDisplayPro-Medium";
	margin-top: 50px;
	clear: left;
}
.b-1 .buttons, .b-7 .buttons {
	margin-top: 20px;
	clear: left;
}
.b-1-btn1 {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: rgb(255, 221, 45);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	font-size: 21px;
	color: rgb(51, 51, 51);
	width: 245px;
	padding: 20px 0;
	border: 1px solid rgb(255, 221, 45);
	margin-right: 6px;
}
.b-1-btn1:hover {
	background-color: #ffae00;
	border-color: #ffae00;
}
.b-1-btn2 {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: transparent;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	font-size: 21px;
	color: rgb(255, 221, 45);
	width: 245px;
	padding: 20px 0;
	border: 1px solid rgb(255, 221, 45);
}
.b-1-btn2:hover {
	background-color: rgb(255, 221, 45);
	color: rgb(51, 51, 51);
}

.b-2 .b-block {
	padding-top: 53px;
	padding-bottom: 59px;
}
.b-2-video {
	display: block;
	margin: 0 auto 26px;
	max-width: 570px;
	width: 100%;
	height: 320px;
}
.b-2-list {
	max-width: 770px;
	margin: 0 auto 42px;
}
.b-2-list li {
	display: block;
	margin: 0 auto 20px;
}
.b-2-list-image {
	display: inline-block;
	width: 25%;
	box-sizing: border-box;
	padding: 0 5px;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}
.b-2-list-image::after {
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
	left: -50%;
    width: 80px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
	-webkit-animation: shimmer2 6s linear infinite normal;
	-moz-animation: shimmer2 6s linear infinite normal;
	-ms-animation: shimmer2 6s linear infinite normal;
    animation: shimmer2 6s linear infinite normal;
}
@-webkit-keyframes shimmer2 {
	0% {
		left: -50%;
	}
	13% {
		left: -50%;
	}
	37% {
		left: 150%;
	}
	100% { 
		left: 150%;
	}
}
@-moz-keyframes shimmer2 {
	0% {
		left: -50%;
	}
	13% {
		left: -50%;
	}
	37% {
		left: 150%;
	}
	100% { 
		left: 150%;
	}
}
@-ms-keyframes shimmer2 {
	0% {
		left: -50%;
	}
	13% {
		left: -50%;
	}
	37% {
		left: 150%;
	}
	100% { 
		left: 150%;
	}
}
@keyframes shimmer2 {
	0% {
		left: -50%;
	}
	13% {
		left: -50%;
	}
	37% {
		left: 150%;
	}
	100% { 
		left: 150%;
	}
}
.b-2-list-image img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.b-2-text {
	display: inline-block;
	width: 74%;
	box-sizing: border-box;
	padding: 0 5px;
	vertical-align: top;
	margin-top: 15px;
	text-align: left;
}
.b-2-text span {
	display: inline-block;
	position: relative;
	font-family: "PFDinDisplayPro-Medium";
	color: rgb(7, 48, 84);
	line-height: 1.2;
	font-size: 21px;
	padding-bottom: 11px;
	margin-bottom: 17px;
}
.b-2-text span::before {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: rgb(255, 221, 45);
	position: absolute;
	left: 0;
	bottom: 0;
}
.b-2-text p {
	display: block;
	font-size: 18px;
	color: rgb(86, 86, 86);
	line-height: 1.2;
}
.year-list {
	margin-bottom: 33px;
}
.year-list li {
	display: block;
	width: 100%;
	padding: 30px 40px;
	background-color: #f1f4f6;
	margin-bottom: 13px;
	box-sizing: border-box;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.year-list li:hover {
	background-color: #e8edf2;
}
.year-list-name {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	box-sizing: border-box;
	padding: 0 5px;
	text-align: left;
}
.year-list li span {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-family: 'PFDinDisplayPro-Medium';
	font-size: 21px;
	color: rgb(7, 48, 84);
	line-height: 1.2;
	padding-bottom: 8px;
}
.year-list li span::before {
	content: '';
	background-color: rgb(255, 221, 45);
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.year-list li p {
	display: inline-block;
	vertical-align: middle;
	width: 74%;
	box-sizing: border-box;
	padding: 0 5px;
	font-size: 18px;
	line-height: 1.2;
	color: rgb(86, 86, 86);
	text-align: left;
}
.instruction-list li {
	display: inline-block;
	vertical-align: top;
	width: 24%;
	box-sizing: border-box;
	padding: 0 5px;
	margin-bottom: 40px;
}
.instruction-image {
	min-height: 100px;
	margin-bottom: 34px;
}
.instruction-image img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.instruction-list li:hover .instruction-image img, .instruction-slider li:hover .instruction-image img {
	-webkit-filter: brightness(0.5);
	-moz-filter: brightness(0.5);
	-ms-filter: brightness(0.5);
	filter: brightness(0.5);
}
.instruction-list span, .instruction-slider span {
	display: block;
	font-size: 18px;
	color: rgb(7, 48, 84);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.instruction-list li:hover span, .instruction-slider li:hover span {
	color: #1188f1;
}
.instruction-slider {
	padding-bottom: 30px;
	display: none;
}
.instruction-slider .slick-dots {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.instruction-slider .slick-dots li {
	display: inline-block;
	margin: 0 2px;
}
.instruction-slider .slick-dots li button {
	font-size: 0;
	background-color: transparent;
	border: 3px solid rgb(215, 227, 237);
	border-radius: 50%;
	width: 11px;
	height: 11px;
	display: block;
}
.instruction-slider .slick-dots li.slick-active button {
	background-color: rgb(215, 227, 237);
}

.b-3 {
	background-color: rgb(7, 48, 84);
}
.b-3 .b-block {
	padding-top: 38px;
	padding-bottom: 45px;
}
.b-3-text h2 {
	display: block;
	text-align: left;
	font-family: "PFDinDisplayPro-Regular";
	font-size: 36px;
	color: #ffffff;
	line-height: 1.2;
	margin-bottom: 20px;
	margin-top: 56px;
}
.b-3-text span {
	display: block;
	font-size: 30px;
	color: rgb(154, 194, 229);
	line-height: 1.2;
}
.b-3-submit {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	border: 1px solid rgb(255, 221, 45);
	border-radius: 3px;
	padding: 25px 50px;
}
.form-title {
	display: block;
	font-size: 20px;
	color: #ffffff;
	line-height: 1.2;
	margin-bottom: 22px;
}
.b-3-submit .wrapper {
	display: none;
}
.b-3-submit .wrapper.active {
	display: block;
}
.b-3-submit textarea {
	display: block;
	resize: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
	background-color: rgb(238, 242, 247);
	font-size: 16px;
	color: rgb(7, 48, 84);
	line-height: 1.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	padding: 20px;
	height: 102px;
	margin-bottom: 10px;
	font-family: "PFDinDisplayPro-Light";
	border: 0;
}
.b-3-submit textarea::-webkit-input-placeholder {
	color: rgb(7, 48, 84);
	font-family: "PFDinDisplayPro-Light";
}
.b-3-submit textarea:-moz-placeholder {
	color: rgb(7, 48, 84);
	font-family: "PFDinDisplayPro-Light";
}
.b-3-submit textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
.b-3-submit textarea:focus:-moz-placeholder {
	color: transparent;
}
.b-3-submit textarea:focus, .b-3-submit textarea:hover {
	background-color: #ffffff;
}
.b-3-submit input {
	display: block;
	background-color: rgb(238, 242, 247);
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	padding: 17px 10px;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	color: rgb(7, 48, 84);
	text-align: center;
	margin-bottom: 10px;
	font-family: "PFDinDisplayPro-Light";
	border: 0;
}
.b-3-submit input::-webkit-input-placeholder {
	color: rgb(7, 48, 84);
	font-family: "PFDinDisplayPro-Light";
}
.b-3-submit input:-moz-placeholder {
	color: rgb(7, 48, 84);
	font-family: "PFDinDisplayPro-Light";
}
.b-3-submit input:focus::-webkit-input-placeholder {
	color: transparent;
}
.b-3-submit input:focus:-moz-placeholder {
	color: transparent;
}
.b-3-submit input:focus, .b-3-submit input:hover {
	background-color: #ffffff;
}
.form-btn {
	display: block;
	padding: 17px 10px;
	width: 100%;
	background-color: rgb(255, 221, 45);
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 21px;
	color: rgb(51, 51, 51);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	border: 0;
}
.form-btn:hover {
	background-color: #ffae00;
}

.b-4 {
	border-bottom: 1px solid rgb(225, 225, 225);
}
.b-4 .b-block {
	padding-top: 67px;
	padding-bottom: 45px;
}
.b-4-list {
	margin-bottom: 54px;
}
.b-4-list li {
	display: inline-block;
	width: 49%;
	box-sizing: border-box;
	padding: 0 10px;
	position: relative;
	vertical-align: middle;
}
.b-4-list li img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.b-4-list li.first::before {
	content: 'vs';
	font-family: "PFDinDisplayPro-Regular";
	font-size: 36px;
	color: rgb(142, 180, 217);
	position: absolute;
	left: 100%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
}
.srav-left {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	box-sizing: border-box;
	text-align: left;
}
.srav-left span {
	display: inline-block;
	max-width: 100%;
	position: relative;
	font-family: 'PFDinDisplayPro-Medium';
	font-size: 21px;
	color: rgb(7, 48, 84);
	line-height: 1.2;
	box-sizing: border-box;
	padding: 0 0 8px;
}
.srav-left span::before {
	content: '';
	background-color: rgb(255, 221, 45);
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.srav-right {
	display: inline-block;
	vertical-align: top;
	width: 74%;
	box-sizing: border-box;
}
.srav-right .minus-p {
	display: block;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: rgb(241, 244, 246);
	padding: 20px 25px 20px 110px;
	position: relative;
	margin: 0 auto 7px;
	text-align: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.srav-right .minus-p:hover {
	background-color: rgb(223, 236, 245);
}
.srav-right .minus-p::before {
	content: '';
	display: block;
	width: 55px;
	height: 55px;
	left: 25px;
	top: calc(50% - 28px);
	position: absolute;
	background-image: url('../i/minus.png');
	background-repeat: no-repeat;
	background-position: center;
}
.srav-right .plus-p {
	display: block;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: rgb(255, 235, 129);
	padding: 20px 25px 20px 110px;
	position: relative;
	margin: 0 auto 7px;
	text-align: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.srav-right .plus-p:hover {
	background-color: rgb(241, 217, 93);
}
.srav-right .plus-p::before {
	content: '';
	display: block;
	width: 55px;
	height: 55px;
	left: 25px;
	top: calc(50% - 28px);
	position: absolute;
	background-image: url('../i/plus.png');
	background-repeat: no-repeat;
	background-position: center;
}

.b-5 {
	border-bottom: 1px solid rgb(225, 225, 225);
}
.b-5 .b-block {
	padding-top: 53px;
	padding-bottom: 83px;
}
.clients-slider {
	padding-bottom: 30px;
}
.clients-slide img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.clients-slider .slick-dots {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.clients-slider .slick-dots li {
	display: inline-block;
	margin: 0 2px;
}
.clients-slider .slick-dots li button {
	font-size: 0;
	background-color: transparent;
	border: 3px solid rgb(215, 227, 237);
	border-radius: 50%;
	width: 11px;
	height: 11px;
	display: block;
}
.clients-slider .slick-dots li.slick-active button {
	background-color: rgb(215, 227, 237);
}
.clients-slider .name {
	display: block;
	position: relative;
	margin: 40px auto 18px;
	font-family: "PFDinDisplayPro-Regular";
	color: rgb(7, 48, 84);
	font-size: 18px;
	line-height: 1.2;
}
.clients-slider a {
	display: inline-block;
	font-size: 18px;
	color: rgb(74, 74, 74);
	line-height: 1.2;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.clients-slider a:hover {
	color: rgb(7, 48, 84);
}
.clients-slider a:hover img {
	-webkit-filter: brightness(0.5);
	-moz-filter: brightness(0.5);
	-ms-filter: brightness(0.5);
	filter: brightness(0.5);
}
.clients-slider p {
	display: block;
	max-width: 200px;
	margin: 0 auto 42px;
	color: rgb(114, 114, 114);
	line-height: 1.2;
	font-size: 16px;
}

.b-6 .b-block {
	padding-top: 58px;
	padding-bottom: 76px;
}
.stages-list {
	text-align: left;
}
.stages-list .stages-top {
	max-width: 100%;
	border-bottom: 3px solid rgb(202, 218, 232);
	width: 100%;
	text-align: left;
}
.stages-list .stages-bottom {
	width: 100%;
	max-width: 100%;
}
.stages-list .col-1 {
	display: inline-block;
	vertical-align: top;
	width: 19%;
	font-size: 25px;
	color: rgb(7, 48, 84);
	padding: 10px 0;
}
.stages-list .col-2, .stages-list .col-3 {
	display: inline-block;
	vertical-align: top;
	width: 39%;
	color: rgb(87, 87, 87);
	line-height: 1.2;
	font-size: 20px;
	text-align: center;
	padding: 10px 0;
}
.stages-list .stages-bottom .col-2, .stages-list .stages-bottom .col-3 {
	font-size: 16px;
}
.stages-list .last {
	display: inline-block;
	vertical-align: bottom;
	width: 58%;
}
.stages-list .last .col-1 {
	width: 39%;
}
.stages-list .last .col-2 {
	width: 58%;
}
.stages-list .stages-image {
	display: inline-block;
	vertical-align: bottom;
	width: 39%;
	position: relative;
	overflow: hidden;
}
.stages-list .stages-image::after {
	content: '';
    position: absolute;
    top: 0;
    bottom: 0;
	left: -50%;
    width: 80px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0) 100%);
	-webkit-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
	-webkit-animation: shimmer2 8s linear infinite normal;
	-moz-animation: shimmer2 8s linear infinite normal;
	-ms-animation: shimmer2 8s linear infinite normal;
    animation: shimmer2 8s linear infinite normal;
}
.stages-list img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.stages-list .first {
	margin-bottom: 70px;
}








@media screen and (max-width: 1280px) {
	.b-1 img, .b-7 img {
		margin: 0 auto;
	}
	.b-1-btn1 {
		display: block;
		margin: 0 auto 10px;
	}
	.b-1-btn2 {
		display: block;
		margin: 0 auto;
	}
	.b-1 .b-block, .b-7 .b-block {
		padding-bottom: 40px;
	}
	.b-3-text {
		float: none !important;
		margin: 0 auto 30px;
	}
	.b-3-text h2 {
		text-align: center;
	}
	.b-3-submit {
		float: none !important;
		margin: 0 auto;
	}
}
@media screen and (max-width: 767px) {
	.b-1 h1, .b-7 h2 {
		margin-bottom: 40px;
		float: none !important;
		text-align: center;
	}
	.b-1 h1 br, .b-7 h2 br {
		display: none;
	}
	.b-1 img, .b-7 img {
		float: none !important;
	}
	.b-1 .price-p, .b-7 .price-p {
		float: none !important;
		margin-top: 20px;
	}
	.b-1 .buttons, .b-7 .buttons {
		float: none !important;
	}
	.year-list-name {
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}
	.year-list li p {
		width: 100%;
	}
	.b-2-list-image {
		width: 100%;
	}
	.b-2-text p {
		text-align: left;
	}
	.b-2-text {
		text-align: center;
		width: 100%;
	}
	.instruction-slider {
		display: block;
	}
	.instruction-list {
		display: none;
	}
	.instruction-list li {
		width: 100%;
	}
	.b-3-submit {
		padding: 25px 20px;
	}
	.b-3-text h2 br {
		display: none;
	}
	.b-4-list li.first img {
		max-width: 70%;
	}
	.srav-list li {
		margin-bottom: 40px;
	}
	.srav-left {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	.srav-right {
		width: 100%;
	}
	.stages-list .col-1 {
		font-size: 18px;
	}
	.stages-list .col-2, .stages-list .col-3 {
		font-size: 16px;
	}
	.stages-list .stages-bottom .col-2, .stages-list .stages-bottom .col-3 {
		font-size: 14px;
	}
	.stages-list .col-3 img {
		max-width: 70%;
	}
	/*.col-1, .col-2, .col-3 {
		width: 100% !important;
		text-align: center;
	}
	.stages-bottom .col-1 {
		display: none;
	}
	.stages-list .last {
		width: 100%;
	}
	.stages-list .stages-image {
		width: 100%;
	}*/
}