@charset "utf-8";

@font-face {
	font-family: "PFDinDisplayPro-Regular";
	src: url("../fonts/PFDinDisplayPro.eot"); /* IE9 Compat Modes */
	src: url("../fonts/PFDinDisplayPro.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/PFDinDisplayPro.otf") format("opentype"), /* Open Type Font */
		url("../fonts/PFDinDisplayPro.svg") format("svg"), /* Legacy iOS */
		url("../fonts/PFDinDisplayPro.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/PFDinDisplayPro.woff") format("woff"), /* Modern Browsers */
		url("../fonts/PFDinDisplayPro.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PFDinDisplayPro-Black";
	src: url("../fonts/PFDinDisplayPro-Black.eot"); /* IE9 Compat Modes */
	src: url("../fonts/PFDinDisplayPro-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/PFDinDisplayPro-Black.otf") format("opentype"), /* Open Type Font */
		url("../fonts/PFDinDisplayPro-Black.svg") format("svg"), /* Legacy iOS */
		url("../fonts/PFDinDisplayPro-Black.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/PFDinDisplayPro-Black.woff") format("woff"), /* Modern Browsers */
		url("../fonts/PFDinDisplayPro-Black.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PFDinDisplayPro-Bold";
	src: url("../fonts/PFDinDisplayPro-Bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/PFDinDisplayPro-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/PFDinDisplayPro-Bold.otf") format("opentype"), /* Open Type Font */
		url("../fonts/PFDinDisplayPro-Bold.svg") format("svg"), /* Legacy iOS */
		url("../fonts/PFDinDisplayPro-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/PFDinDisplayPro-Bold.woff") format("woff"), /* Modern Browsers */
		url("../fonts/PFDinDisplayPro-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PFDinDisplayPro-Medium";
	src: url("../fonts/PFDinDisplayPro-Med.eot"); /* IE9 Compat Modes */
	src: url("../fonts/PFDinDisplayPro-Med.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/PFDinDisplayPro-Med.otf") format("opentype"), /* Open Type Font */
		url("../fonts/PFDinDisplayPro-Med.svg") format("svg"), /* Legacy iOS */
		url("../fonts/PFDinDisplayPro-Med.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/PFDinDisplayPro-Med.woff") format("woff"), /* Modern Browsers */
		url("../fonts/PFDinDisplayPro-Med.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PFDinDisplayPro-Light";
	src: url("../fonts/PFDinDisplayPro-Light.eot"); /* IE9 Compat Modes */
	src: url("../fonts/PFDinDisplayPro-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/PFDinDisplayPro-Light.otf") format("opentype"), /* Open Type Font */
		url("../fonts/PFDinDisplayPro-Light.svg") format("svg"), /* Legacy iOS */
		url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/PFDinDisplayPro-Light.woff") format("woff"), /* Modern Browsers */
		url("../fonts/PFDinDisplayPro-Light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	padding-top: 124px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
	font-family: "PFDinDisplayPro-Light";
}
body.active {
	height: 100vh;
	overflow: hidden;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
button:hover {
	cursor: pointer;
}
.title {
	display: block;
	text-align: center;
	font-size: 36px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 30px;
	font-family: "PFDinDisplayPro-Regular";
}
.title-text {
	display: block;
	max-width: 770px;
	margin: 0 auto 25px;
	font-size: 16px;
	color: #000000;
	line-height: 1.2;
}
select {
	border: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.select {
	display: block;
	padding: 5px 5px 5px 25px;
	position: relative;
	box-sizing: border-box;
	-moz-user-select: none; /* Mozilla Firefox */
	-ms-user-select: none; /* Internet Explorer (не поддерживается) */
	-o-user-select: none; /* Opera Presto (не поддерживается) */
	-webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}
.select::after {
	content: '';
	background-color: #000000;
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	top: 15px;
	left: 3px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.select::before {
	content: '';
	background-color: #000000;
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	top: 15px;
	left: 9px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.select:hover:before, .select:hover:after {
	background-color: #1188f1;
}
.select-city {
	display: block;
	font-size: 18px;
	font-family: "PFDinDisplayPro-Medium";
	text-align: left;
}
.select-obl {
	display: block;
	text-align: left;
	color: rgb(143, 143, 143);
	font-size: 16px;
}
.select ul {
	display: none;
	width: calc(100% - 3px);
	position: absolute;
	top: 100%;
	left: 3px;
	background-color: #ffffff;
	border: 1px solid rgb(93, 93, 93);
	height: 102px;
	overflow-y: auto;
	z-index: 10;
}
.select ul.active {
	display: block;
}
.select ul li {
	display: block;
	padding: 5px;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s; 
}
.select ul li:hover {
	cursor: pointer;
	background-color: #f0df00;
}
.select ul li.active {
	background-color: #1188f1;
}
.select ul li span {
	display: block;
	font-size: 18px;
	font-family: "PFDinDisplayPro-Medium";
	text-align: left;
}
.select ul li.active span {
	color: #ffffff;
}
.select ul li p {
	display: block;
	text-align: left;
	font-size: 18px;
	color: rgb(143, 143, 143);
	font-size: 16px;
}
.select ul li.active p {
	color: #ffffff;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 15px;
	top: 20px;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.mobile-menu {
	display: none;
	position: fixed;
	z-index: 100;
	top: -200%;
	left: 0;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #ffffff;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.mobile-menu .b-block {
	padding-top: 20px;
	padding-bottom: 30px;
}
.mobile-menu.active {
	top: 0;
}

.header {
	background-color: #ffffff;
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
}
.header.active {
	position: fixed;
	border-bottom: 1px solid rgb(225, 225, 225);
}
.header.filter {
	display: none;
}
.header-top {
	padding-top: 8px;
	padding-bottom: 18px;
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	box-sizing: border-box;
	align-items: start;
	justify-content: space-between;
}
.header.active .header-top {
	display: none;
}
.header-logo {
	display: inline-block;
	vertical-align: top;
	width: 164px;
}
.header-logo img {
	display: block;
	max-width: 100%;
}
.header-city {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 51px;
	width: 270px;
}
.header-address {
	padding-left: 30px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 18px;
	color: #8f8f8f;
	line-height: 1.2;
	text-align: left;
}
.header-address::before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	background-image: url("../i/address-icon.png");
	display: block;
	width: 19px;
	height: 24px;
}
.header-address span {
	color: #000000;
	font-family: "PFDinDisplayPro-Medium";
}
.header-phone {
	display: inline-block;
	vertical-align: top;
	text-align: right;
}
.header-phone .phone-a {
	display: block;
	font-size: 20px;
	color: #000000;
	margin-bottom: 5px;
	font-family: "PFDinDisplayPro-Medium";
}
.header-phone .header-order {
	display: inline-block;
	font-size: 16px;
	color: rgb(143, 143, 143);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-phone .header-order:hover {
	color: rgb(7, 48, 84);
}
.header-nav {
	padding: 8px 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
}
.header.active .header-nav {
	padding: 15px 0;
	padding-left: 120px;
}
.header-nav ul {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
}
.nav-logo {
	display: block;
	position: absolute;
	left: 0;
	top: calc(50% - 17px);
	width: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
}
.header.active .nav-logo {
	width: 100px;
}
.nav-logo img {
	display: block;
	width: 100px;
}
.header-nav ul li a {
	font-size: 18px;
	color: rgb(7, 48, 84);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav ul li a:hover {
	color: #1188f1;
}
.header-nav ul li:last-child a {
	color: #f09800;
}
.header-nav ul li:last-child a:hover {
	color: #f0df00;
}


.footer {
	border-top: 1px solid rgb(225, 225, 225);
}
.footer-top {
	padding-top: 11px;
	padding-bottom: 11px;
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	box-sizing: border-box;
	align-items: start;
	justify-content: space-between;
}
.footer-logo {
	display: inline-block;
	vertical-align: top;
	width: 164px;
}
.footer-logo img {
	display: block;
	max-width: 100%;
}
.footer-city {
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 51px;
	width: 270px;
}
.footer-address {
	padding-left: 30px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 18px;
	color: #8f8f8f;
	line-height: 1.2;
	text-align: left;
}
.footer-address::before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	background-image: url("../i/address-icon.png");
	display: block;
	width: 19px;
	height: 24px;
}
.footer-address span {
	color: #000000;
	font-family: "PFDinDisplayPro-Medium";
}
.footer-phone {
	display: inline-block;
	vertical-align: top;
	text-align: right;
}
.footer-phone .phone-a {
	display: block;
	font-size: 20px;
	color: #000000;
	margin-bottom: 5px;
	font-family: "PFDinDisplayPro-Medium";
}
.footer-phone .footer-order {
	display: inline-block;
	font-size: 16px;
	color: rgb(143, 143, 143);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-phone .footer-order:hover {
	color: rgb(7, 48, 84);
}
.footer-bottom {
	background-image: url('../i/footer-img.jpg');
	background-size: cover;
	background-position: center;
	font-family: "PFDinDisplayPro-Regular";
}
.footer-bottom .b-block {
	padding-top: 14px;
	padding-bottom: 40px;
}
.footer-info-left span {
	display: block;
	font-size: 13px;
	color: rgb(98, 98, 98);
	margin-bottom: 10px;
}
.footer-info-left span b {
	font-weight: normal;
}
.footer-info-left ul li {
	display: block;
	font-size: 13px;
	color: rgb(98, 98, 98);
	text-align: left;
	margin-bottom: 3px;
}
.footer-info-left ul li a {
	color: rgb(98, 98, 98);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-info-left ul li a:hover {
	color: #000000;
}
.footer-info-right ul li {
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
}
.footer-info-right ul li a {
	display: block;
}
.footer-info-right ul li a:hover {
	-webkit-animation: rot 1s infinite;
	-moz-animation: rot 1s infinite;
	-ms-animation: rot 1s infinite;
	animation: rot 1s infinite;
}
@-webkit-keyframes rot {
	0% {
		transform: rotate(0deg);
	}
	13% {
		transform: rotate(45deg);
	}
	37% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}

}
@-moz-keyframes rot {
	0% {
		transform: rotate(0deg);
	}
	13% {
		transform: rotate(45deg);
	}
	37% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}

}
@-ms-keyframes rot {
	0% {
		transform: rotate(0deg);
	}
	13% {
		transform: rotate(45deg);
	}
	37% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}

}
@keyframes rot {
	0% {
		transform: rotate(0deg);
	}
	13% {
		transform: rotate(45deg);
	}
	37% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}

}
.footer-info-right ul li a img {
	display: block;
}
.footer-info-right {
	text-align: right;
}
.footer-info-right .footer-mail-a {
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 14px;
	font-size: 16px;
	color: rgb(76, 76, 76);
}
.footer-info-right .logo-atk {
	display: block;
	width: 116px;
	margin-left: auto;
	margin-right: 0;
}
.footer-info-right .logo-atk img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.footer-info {
	margin-bottom: 17px;
}
.footer-nav {
	text-align: center;
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	box-sizing: border-box;
	align-items: start;
	justify-content: space-between;
}
.footer-nav ul {
	display: inline-block;
	vertical-align: top;
}
.footer-nav ul li {
	display: block;
	text-align: left;
	font-size: 12px;
	color: rgb(98, 98, 98);
	margin-bottom: 10px;
}
.footer-nav ul li a {
	color: rgb(98, 98, 98);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-nav ul li a:hover {
	color: #000000;
}
.footer-nav ul li:first-child {
	text-transform: uppercase;
}
.footer-nav ul li.last {
	color: #f09800;
}
.footer-nav ul li.last a {
	color: #f09800;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-nav ul li.last a:hover {
	color: #f0df00;
}

.popup {
	display: block;
	width: 90%;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 44px 25px 40px;
	box-sizing: border-box;
	max-width: 370px;
	text-align: center;
}
.popup-name {
	display: block;
	font-family: "PFDinDisplayPro-Medium";
	font-size: 21px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
}
.popup-subname {
	display: block;
	font-family: "PFDinDisplayPro-Light";
	font-size: 21px;
	color: #367cba;
	line-height: 1.2;
	margin-top: 15px;
	margin-bottom: 12px;
}
.popup form {
	display: block;
	margin: 0 auto;
	width: 100%;
}
.popup form .wrapper {
	display: none;
}
.popup form .wrapper.active {
	display: block;
	margin-top: 28px;
}
.popup form textarea {
	display: block;
	resize: none;
	box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
	background-color: rgb(238, 242, 247);
	font-size: 16px;
	color: rgb(7, 48, 84);
	line-height: 1.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	padding: 20px;
	height: 102px;
	margin-bottom: 10px;
	font-family: "PFDinDisplayPro-Light";
	border: 1px solid rgb(238, 242, 247);
}
.popup form textarea::-webkit-input-placeholder {
	color: rgb(7, 48, 84);
	font-family: "PFDinDisplayPro-Light";
}
.popup form textarea:-moz-placeholder {
	color: rgb(7, 48, 84);
	font-family: "PFDinDisplayPro-Light";
}
.popup form textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
.popup form textarea:focus:-moz-placeholder {
	color: transparent;
}
.popup form textarea:focus, .popup form textarea:hover {
	background-color: #ffffff;
}
.popup form input {
	display: block;
	background-color: rgb(238, 242, 247);
	border-radius: 5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	padding: 17px 10px;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	color: rgb(7, 48, 84);
	text-align: center;
	margin-bottom: 10px;
	font-family: "PFDinDisplayPro-Light";
	border: 1px solid rgb(238, 242, 247);
}
.popup form input::-webkit-input-placeholder {
	color: rgb(7, 48, 84);
	font-family: "PFDinDisplayPro-Light";
}
.popup form input:-moz-placeholder {
	color: rgb(7, 48, 84);
	font-family: "PFDinDisplayPro-Light";
}
.popup form input:focus::-webkit-input-placeholder {
	color: transparent;
}
.popup form input:focus:-moz-placeholder {
	color: transparent;
}
.popup form input:focus, .popup form input:hover {
	background-color: #ffffff;
}
.popup-form-btn {
	display: block;
	padding: 17px 10px;
	width: 100%;
	background-color: rgb(255, 221, 45);
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 21px;
	color: rgb(51, 51, 51);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	border: 0;
}
.popup-form-btn:hover {
	background-color: #ffae00;
}
.popup form button {
	display: block;
	padding: 17px 10px;
	width: 100%;
	background-color: rgb(255, 221, 45);
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 21px;
	color: rgb(51, 51, 51);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
	border: 0;
	margin-bottom: 15px;
}
.popup form button:hover {
	background-color: #ffae00;
}
.popup form .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 14px;
	color: rgb(170, 170, 170);
	line-height: 1.2;
	position: relative;
	text-align: left;
	padding-left: 23px;
}
.popup form .button-text a {
	color: rgb(170, 170, 170);
}
.popup form .button-text a:hover {
	text-decoration: underline;
}
.popup form .button-text b {
	display: block;
	position: absolute;
	width: 13px;
	height: 13px;
	border: 1px solid rgb(183, 183, 183);
	border-radius: 3px;
	left: 0;
	top: calc(50% - 7px);
}
.popup form .button-text b:hover {
	cursor: pointer;
}
.popup form .button-text b.active::before {
	content: '';
	display: block;
	width: 6px;
	height: 1px;
	position: absolute;
	left: 1px;
	top: 7px;
	background-color: rgb(183, 183, 183);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup form .button-text b.active::after {
	content: '';
	display: block;
	width: 9px;
	height: 1px;
	position: absolute;
	left: 4px;
	top: 6px;
	background-color: rgb(183, 183, 183);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.fancybox-close-small:after {
	font-size: 30px;
	font-family: "PFDinDisplayPro-Bold";
	color: #ccd9e4;
	background-color: transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.fancybox-close-small:hover:after {
	background-color: transparent;
	color: rgb(7, 48, 84);
}
.fancybox-close-small {
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
}




@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	.nav-logo {
		display: none;
	}
	.header.active .header-nav {
		padding-left: 0;
		padding: 8px 0;
	}
	.title br {
		display: none;
	}
	body {
		padding-top: 102px;
	}
	.header-top {
		padding-bottom: 8px;
	}
	.header-logo, .footer-logo {
		width: 130px;
	}
	.header-city, .footer-city {
		width: 200px;
	}
	.select-city {
		font-size: 16px;
	}
	.select-obl {
		font-size: 14px;
	}
	.select ul li span {
		font-size: 16px;
	}
	.select ul li p {
		font-size: 14px;
	}
	.select ul {
		height: 92px;
	}
	.header-address, .footer-address {
		font-size: 14px;
	}
	.header-address::before, .footer-address::before {
		top: 5px;
	}
	.header-phone .phone-a, .footer-phone .phone-a {
		font-size: 16px;
	}
	.header-phone .header-order, .footer-phone .footer-order {
		font-size: 14px;
	}
	.header-nav ul li a {
		font-size: 12px;
	}
}
@media screen and (max-width: 767px){
	body {
		padding-top: 63px;
	}
	.header {
		position: fixed;
		border-bottom: 1px solid rgb(93, 93, 93);
	}
	.b-block {
		padding: 0 10px;
	}
	.header-top {
		display: block;
		text-align: right;
	}
	.header-logo, .header-address, .header-city, .footer-city, .footer-address {
		display: none;
	}
	.header-nav {
		display: none;
		text-align: center;
	}
	.header-logo, .footer-logo {
		width: 164px;
	}
	.mobile-btn {
		display: block;
	}
	.mobile-menu {
		display: block;
	}
	.mobile-menu .header-logo {
		display: inline-block;
		margin-bottom: 40px;
	}
	.mobile-menu .header-nav {
		display: block;
	}
	.header-nav ul li {
		margin-bottom: 10px;
	}
	.header-nav ul {
		display: block;
	}
	.header-nav ul li a {
		font-size: 16px;
	}
	.header-phone .phone-a, .footer-phone .phone-a {
		font-size: 20px;
	}
	.header-phone .header-order, .footer-phone .footer-order {
		font-size: 16px;
	}
	.footer-info-left, .footer-info-right {
		float: none !important;
		margin-bottom: 20px;
		text-align: center;
	}
	.footer-info-left ul li {
		text-align: center;
	}
	.footer-info-right ul li {
		margin: 0 5px;
	}
	.footer-info-right .logo-atk {
		margin-right: auto;
	}
	.footer-nav {
		display: none;
	}
}